body {
  background-color: rgb(252, 249, 232);
  margin: 0px;
  padding: 50px;
}

main {
  margin: auto;
}

@media screen and (min-width: 1000px) {
  main {
    width: 75%;
  }
}

h2 {
  font-size: 30px;
}

#links,
#actions {
}
